<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="book" class="org.example.Book" scope="prototype">
            <!-- collaborators and configuration for this bean go here -->
        <!--        <constructor-arg index="0" value="1234567" type="String" />-->
        <!--        <constructor-arg index="1" value="Introduction to Spring" type="String" />-->
        <!--        <constructor-arg index="2" value="James Gosling" type="String" />-->
        <property name="author" >
            <bean id="author" class="org.example.Author">
                <property name="authorName" value="Vishwas" />
                <property name="numOfPub" value="12" />
            </bean>bean>
        </property>property>
        <property name="isbn" value="1234567"></property>
        <property name="title" value="Introduction to Spring"></property>
    </bean>bean>
    <!-- more bean definitions go here -->

</beans>